@import 'src/assets/styles/mixins';
@import 'normalize.css';

html {
  font-size: 16px;
}

.panelWide, .panelThin {
  background-color: rgba(34, 41, 53, 1);
  height: 100vh;
  transition: width 0.8s ease;
  position: relative;
}

.panelWide {
  width: 15.625rem;
}

.panelThin {
  width:0;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

  .burgerBtnChanged {
    width: 250px;
  }

  .burgerBtnNormal{
    width: 54px;
  }
    .burgerBtnChanged, .burgerBtnNormal {
      position: absolute;
      width: 1.875rem;
      height: 1.875rem;
      right: -1.875rem;
      background-color: rgba(34, 41, 53, 1);
      transition: left 0.7s ease;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      top: 20px;
      border: none;
      padding: 0;
    }

      .burgerButtonIcon {
        filter: invert(1);
        width: 15px;
        height: 15px;
        padding-right: 3px;
      }

    .photoBoxContainer {
      display: inline-block;
      text-align: center;
      margin-top:20px;
    }

    .avatarLarge, .avatarSmall {
      transition: width 0.9s ease, height 0.9s ease;
      align-self: center;
    }

      .avatarLarge {
        width: 40%;
      }

      .avatarSmall {
        width: 20%;
      }

      .name {
        color:white;
        font-size: 1rem;
        @include OpenSansBold;
        margin: 0;
        padding-top:10px;
      }

      .navigation{
        max-width: 100%;
        position: relative;
      }

      .goBackBlock {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: flex-end;;
        position: relative;
        width: 100%;
        vertical-align: bottom;
        height: 100%;
        margin: 0 auto;
        padding-bottom: 30px;
      }

      .goBackContainer {
        display: flex;
        align-items: center;
        transition: transform 0.3s ease;
      }

      .goBackContainer:hover {
       transform: scale(1.1);
      }

    .goBackBtn{
      font-size: 14px;
      color:white;
      background-color: rgba(34, 41, 53, 1);
      border:none;
      border-radius: 5px;
      @include OpenSansRegular;
    }

      .goBackIcon{
        width:14px;
        height: 14px;
        filter: brightness(0) invert(1);
      }

@media (min-width: 300px) and (max-width: 767px){
  .panelWide {
    width:3.375rem;
  }

  .container {
    width: 100%;
    position: absolute;
  }

  .burgerBtn .left{
    left: 40%;
  }

  .avatarLarge, .avatarSmall {
    width: 70%;
  }

  .name {
    display: none;
  }

  .goBackBtn{
    background-color: rgba(38, 193, 126, 1);
    width: 80%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    .goBackIcon{
      width:14px;
      height: 14px;
    }

    .goBackIconTitle {
      display:none;
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .panelWide {
    width:10.375rem;
  }
  .name {
    font-size: 12px;
  }
  .avatarLarge, .avatarSmall {
    width: 70%;
  }
}

@media (min-height: 500px) and (max-height: 650px){
  .avatarLarge, .avatarSmall {
    width: 37%;
  }

  .goBackBlock{
    padding: 0;
  }
}