.innerContainer{
  display: flex;
  height: 100vh;
  position: relative;
}

.btnUp {
  position: absolute;
  right: 36px;
  bottom: 1px;
  background-color:rgba(34, 41, 53, 1);
  width: 30px;
  height: 30px;
  border-radius: 5px 5px 0 0;
}

.btnUpIcon {
  transform: rotate(90deg);
  filter: invert(100%);
}

.content {
  flex-grow: 1;
  padding: 40px 36px 0 30px;
  overflow-y: auto;

  @media (max-width: 480px) {
    .content {
      padding: 40px 45px 0 35px;
    }
  }

  @media (min-width: 300px) and (max-width: 479px){
    .content {
      padding: 40px 35px 0 35px;
    }
  }

  @media (max-width: 768px) {
    .content {
      padding: 40px 40px 0 35px;
    }
  }
}
