@import 'src/assets/styles/mixins';
@import 'normalize.css';

.experienceCard {
  display: flex;
  justify-content: start;
  margin-bottom: 30px;
  flex-direction: row;
  align-items: start;
}

.workPlace {
  flex: 0 0 7%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;

  .company {
    font-size: 16px;
    font-weight: bold;
    color: rgba(34, 41, 53, 1);
    padding-bottom: 5px;
    @include OpenSansBold;
  }

  .date {
    font-size: 16px;
    color: rgba(102, 112, 129, 1);
    @include OpenSansRegular;
  }
}

.position {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 100%;

  .job {
    font-size: 16px;
    font-weight: bold;
    color:rgba(34, 41, 53, 1);
    padding-bottom: 5px;
    @include OpenSansBold;
  }

  .description {
    font-size: 14px;
    color: rgba(34, 41, 53, 1);
    @include OpenSansRegular;
    line-height: 25px;
    word-wrap: break-word;
  }
}


