@import 'src/assets/styles/mixins';
@import 'normalize.css';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  width: 100%;
}

.block {
  position: relative;
  margin-bottom: 5px;
  padding: 15px;
  height: 50px;
  width: 90%;
  background-color: rgba(38, 193, 126, 1);
  box-sizing: border-box;
  justify-content: space-between;
  display: flex;
  align-items: center;
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  opacity: 1;
  transform: translateY(0);
}

.block.deleting {
  opacity: 0;
  transform: translateY(-20px);
}

.block.active {
  box-shadow:  0 0 10px rgba(74, 144, 226, 0.9);
  transform: scaleY(1.05);
  transition: box-shadow 0.3s ease-out, transform 0.3s ease-out;
  z-index: 6;
}

.nameSkill {
  font-size: 16px;
  color: #ffffff;
  @include OpenSansRegular;
}

.deleteButton {
  background-color: rgba(38, 193, 126, 1);
  border:none;
}

.deleteSkillButton {
  width:20px;
  height: 20px;
  background-color: rgba(38, 193, 126, 1);
  margin-left: auto;
}

.deleteSkillButton:hover {
  transform: scaleY(1.05) scaleX(1.05);
}