@import "src/assets/styles/mixins";
@import "normalize.css";

.contactsCard {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  justify-content: start;

  .box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 25px;
    flex-wrap: wrap;
  }
  .box:last-child {
    padding-bottom: 0;
  }

  .subBlock {
    display: flex;
    flex-direction: column;
  }
  .icon {
    width: 30px;
    height: 30px;
    padding-right: 20px;
    filter: invert(65%) sepia(55%) saturate(513%) hue-rotate(112deg)
      brightness(90%) contrast(90%);
  }

  .link {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: rgba(34, 41, 53, 1);
    text-decoration: none;
    @include OpenSansBold;

    &:hover {
      text-decoration: underline;
    }
  }

  .addition {
    @include OpenSansRegular;
    color: rgba(102, 112, 129, 1);
  }

  h2 {
    font-size: 16px;
    color: rgba(34, 41, 53, 1);
    @include OpenSansBold;
    margin: 0;
  }
}

@media (min-width: 300px) and (max-width: 480px) {
  .subBlock {
    display: flex;
    flex-direction: row;
  }

  .box {
    flex-direction: column;
    align-items: flex-start;
  }

  .contactsCard .icon {
    width: 20px;
    height: 20px;
    padding-right: 10px;
  }

  h2 {
    display: none;
  }

  .contactsCard .link {
    font-size: 12px;
    color: rgba(34, 41, 53, 1);
    @include OpenSansBold;
  }
}
