.loader {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 30px;
  animation: spin 2s linear infinite;
  filter: invert(65%) sepia(53%) saturate(523%) hue-rotate(86deg) brightness(92%) contrast(90%);

}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}