@import 'src/assets/styles/mixins';
@import 'normalize.css';

.skillScale {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: rgba(102, 112, 129, 1);
  margin: 24px auto;
}

.marker {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: -10px;
  height: 10px;
  width: 1px;
  background-color: rgba(102, 112, 129, 1);
}

.marker span {
  position: absolute;
  top: 20px;
  white-space: nowrap;
  transform: translateX(-50%);
  font-size: 14px;
  color: rgba(102, 112, 129, 1);
  justify-content: flex-end;
  @include OpenSansRegular;
}

.beginerSpan {
 left:30px;
}

.masterSpan {
margin-left:-20px;
}