@import 'src/assets/styles/mixins';
@import 'normalize.css';

.card, .ui, .code {

}

.isotope-card {
  width: 100%;
  overflow: hidden;
}

.cardContainer {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}

.imageBlock {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: height 0.5s ease, opacity 0.5s ease;
  opacity: 0;
  overflow: hidden;
}

.cardContainer:hover .overlay {
  height: 100%;
  opacity: 1;
}

.overlayBox{
  width:90%;
  height: 90%;
  justify-content: start;
  overflow: hidden;
}

.title{
  font-size: 16px;
  text-align: start;
  color: rgba(38, 193, 126, 1);
  @include OpenSansBold;
  margin:0;
}

.text, .url {
  font-size: 14px;
  @include OpenSansRegular;
}

.url {
  color: rgba(38, 193, 126, 1);
}
