@import 'src/assets/styles/mixins';
@import 'normalize.css';

.portfolioContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 50px 0 0 0;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  margin-bottom:20px;
}

.header {
  font-size: 25px;
  color: rgba(38, 193, 126, 1);
  @include OpenSansBold;
  padding-bottom:40px;
  margin:0;
}

.buttonsBox{
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;

  .btn {
    border:none;
    background-color: white;
    padding-left: 10px;
    @include OpenSansRegular;
  }

  .btn:hover{
    @include OpenSansBold;
    color:rgba(38, 193, 126, 1);
  }
}

.grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)) !important;
  grid-template-rows:auto;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
  height: auto;
}