@import 'src/assets/styles/mixins';
@import 'normalize.css';

.expertiseBox{
  padding-top:50px;
}

.header{
  font-size: 25px;
  color: rgba(38, 193, 126, 1);
  @include OpenSansBold;
  padding-bottom:40px;
  margin:0;
}