@import 'src/assets/styles/mixins';
@import 'normalize.css';

.error {
  color: #ff0000;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 20px;
  text-align: center;
  font-size: 16px;
  @include OpenSansBold;
}
