@import 'src/assets/styles/mixins';
@import 'normalize.css';

.container{
  padding-top:50px;
}

.headerBox{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header{
  font-size: 25px;
  color: rgba(38, 193, 126, 1);
  @include OpenSansBold;
  padding-bottom:40px;
  margin:0;
}

.editIcon {
  padding-right: 7px;
  width:14px;
  height: 14px;
}

.btn {
  width: 138px;
  height: 40px;
  border-radius: 5px;
  background-color: rgba(34, 41, 53, 1);
  color: #fff;
  transition: all 0.3s ease;
}

.btn:hover{
  background-color: rgba(38, 193, 126, 1);
  width: 140px;
  height: 42px;
  border: none;
}