@import 'src/assets/styles/mixins';
@import 'normalize.css';

html {
  font-size: 16px;

  .home {
    background-image: url('../../assets/images/photoBox/background-Home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width:100vw;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    box-sizing: border-box;
  }

  .photoBox {
    width: 31.25rem;
    justify-content: center;
    align-content: center;
    transform: translateY(-90px);

    .avatar {
      width: 10.1875rem;
      padding: 0 0 10px 0;
    }

    .name {
      margin: 0;
      font-size: 2.8125rem;
      @include padding-bottom;
      @include OpenSansBold;
      @include white-text;
    }

    .title {
      margin: 0;
      font-size: 1.5625rem;
      @include padding-bottom;
      @include OpenSansSemiBold;
      @include white-text;
    }

    .description {
      font-size: 14px;
      margin: 0;
      @include padding-bottom;
      @include OpenSansSemiBold;
      @include white-text;
      -webkit-text-stroke: 0.7px black;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    @media (max-width: 600px) {
      .photoBox {
        width: 100%;
      }
      .name {
        font-size: 2rem; // 32px
      }
      .title {
        font-size: 1.25rem; // 20px
        padding: 0 15px 10px 15px;
      }
      .description {
        font-size: 0.75rem; // 12px
        padding: 0 15px 10px 15px;
      }
      .avatar {
        width: 8rem; // 128px
      }
    }

    .btn {
      width: 8rem;
      height: 2.5rem;
      background-color: rgba(34, 41, 53, 1);
      border-radius: 5px;
      font-size: 1rem;
      padding: 10.5px 0 10.5px 0;
      transition: background-color 0.4s ease;
      @include OpenSansRegular;
      @include white-text;
    }

    .btn:hover {
      background-color:rgba(38, 193, 126, 1);
      border:none;
      @include OpenSansBold;
    }


    @media (max-width: 600px) {
      .photoBox {
        width: 100%;
      }
      .name {
        font-size: 2rem; // 32px
      }
      .title {
        font-size: 1.25rem; // 20px
        padding: 0 15px 10px 15px;
      }
      .description {
        font-size: 0.75rem; // 12px
        padding: 0 15px 10px 15px;
      }
      .avatar {
        width: 8rem; // 128px
      }
    }

    @media (min-width: 600px) and (max-width: 1024px) {
      .photoBox {
        width: 80%;
      }
      .name {
        font-size: 2.5rem; // 40px
      }
      .title {
        font-size: 1.4rem; // 22.4px
      }
      .description {
        font-size: 0.8125rem; // 13px
        padding: 0 15px 10px 15px;
      }
      .avatar {
        width: 9rem; // 144px
      }
    }

    @media (min-width: 1024px) {
      .photoBox {
        width: 60%;
      }
    }
  }
}