@import 'src/assets/styles/mixins';
@import 'normalize.css';

.navigationElement {
  margin: 0;
  padding: 0;
}
.element {
  list-style-type: none;
  padding: 19.5px 5px 19.5px 20px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.img {
  width: 14px;
  height:14px;
  color: rgba(102, 112, 129, 1);
  transition: color 0.9s ease;
}

.element:hover .img {
  color: rgba(38, 193, 126, 1);
  filter: invert(65%) sepia(53%) saturate(523%) hue-rotate(86deg) brightness(92%) contrast(90%);
  @include OpenSansBold;
}

.linkStyle {
  text-decoration: none;
  padding-left: 20px;
  color:rgba(102, 112, 129, 1);
  max-width: 100%;
  @include OpenSansRegular;
  white-space: nowrap;
  transition:  color 0.9s ease;
}

.element:hover .linkStyle {
  color:rgba(38, 193, 126, 1);
  @include OpenSansBold;
}

@media (max-width: 480px) {
  .linkStyle {
    display: none;
  }
  .element:hover .img {
    color: rgba(38, 193, 126, 1);
    filter: invert(65%) sepia(53%) saturate(523%) hue-rotate(86deg) brightness(92%) contrast(90%);
    @include OpenSansBold;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .linkStyle {
    display: none;
  }
  .element:hover .img {
    color: rgba(38, 193, 126, 1);
    filter: invert(65%) sepia(53%) saturate(523%) hue-rotate(86deg) brightness(92%) contrast(90%);
    @include OpenSansBold;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .linkStyle {
    font-size: 12px;
  }
  .element:hover .img {
    color: rgba(38, 193, 126, 1);
    filter: invert(65%) sepia(53%) saturate(523%) hue-rotate(86deg) brightness(92%) contrast(90%);
    @include OpenSansBold;
  }
}

@media (max-height: 550px) {
  .element {
    padding: 15px 3px 15px 17px;
  }
}
