@import 'src/assets/styles/mixins';
@import 'normalize.css';

.timeLineBox {
  display: flex;
  flex-direction: column;
  width:100%;
  height: 100%;
}

.container {
  display: flex;
  margin-bottom: 20px;
  width:100%;
  justify-content: space-around;
  flex-grow: 1;
  align-items: stretch;
  height: 100%;
}

.yearContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 18px;
  flex-basis: auto;

  .year {
    font-size: 16px;
    @include OpenSansBold;
    color: #333;
    margin-bottom: 5px;
  }

  .line {
    width: 4px;
    flex-grow: 1;
    background-color: green;
    margin-bottom: 5px;
    position: relative;
  }
}

.details {
  flex-grow: 1;
  display: flex;
  max-width: 92%;
  max-height: 100%;
  padding-left: 10px;
  flex-basis: auto;
  align-items: stretch;

  .infoContainer {
    background-color: rgba(238, 238, 238, 1);
    padding: 15px;
    flex-wrap: wrap;
    position: relative;
    flex-basis: auto;

    &::before {
      content: "";
      position: absolute;
      top: 18px;
      left: -10px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 10px 10px 0;
      border-color: transparent rgba(238, 238, 238, 1) transparent transparent;
    }

    .title {
      font-size: 16px;
      margin: 0;
      padding-bottom: 5px;
      color:rgba(34, 41, 53, 1);
      @include OpenSansBold;
    }

    .description {
      margin: 0;
      color:rgba(34, 41, 53, 1);
      font-size: 14px;
      line-height: 25px;
      @include OpenSansRegular;
    }
  }
}

@media (min-width: 375px) and (max-width: 500px){
  .details {
    max-width: 70%;
  }
}
@media (min-width: 500px) and (max-width: 800px){
  .details {
    max-width: 75%;
  }
}
@media (min-width: 801px) and (max-width: 1000px){
  .details {
    max-width: 85%;
  }
}
@media (min-width: 1001px) and (max-width: 1200px){
  .details {
    max-width: 88%;
  }
}

