@import 'src/assets/styles/mixins';
@import 'normalize.css';

.educationBox {
 padding-top: 50px;

  .header {
    margin: 0;
    color: rgba(38, 193, 126, 1);
    padding-bottom: 40px;
    font-size: 25px;
  }

  .timelineContainer {
    margin-bottom: -10px;
  }
}

.scrollBox {
  min-height: 200px;
  max-height: 900px;
  overflow-y: hidden;
  transition: opacity 0.8s ease-in-out;
}

.scrollBox:hover {
  overflow-y: auto;
  opacity: 1;
}

.scrollBox::-webkit-scrollbar {
  width: 12px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.scrollBox:hover::-webkit-scrollbar {
  opacity: 1;
}

.scrollBox::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
}

.scrollBox::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.loaderBox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 200px;
  max-height: 900px;
  overflow-y: auto;
  padding: 20px;
}