@import 'src/assets/styles/mixins';
@import 'normalize.css';

.reviewCard {
  display:flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.box {
  padding-bottom: 38.5px;
}

.container {
  display:flex;
  flex-direction: row;
  align-items: center;
  padding-top: 18.5px;

  .img{
    width:50px;
    height: 50px;
  }

  .reviewerName, .reviewerEmail {
    color:rgba(34, 41, 53, 1);
    @include OpenSansRegular;
    margin: 0;

  }

  .reviewerEmail {
    color: rgba(38, 193, 126, 1);
    text-decoration: none;
  }

  .reviewerName {
    padding-left: 20px;
  }
}

.review {
  background-color: rgba(238, 238, 238, 1);
  padding: 15px;
  @include OpenSansRegular;
  color: rgba(34, 41, 53, 1);
  line-height: 20px;
  font-size: 14px;
}