@import 'src/assets/styles/mixins';
@import 'normalize.css';

.container {
  display:flex;
  flex-direction: column;
  justify-content: start;

  .header {
    padding-bottom: 0;
    margin: 0;
    font-size:25px;
    color:rgba(38, 193, 126, 1);
    @include OpenSansBold;
  }

  .paragraph {
    color:rgba(34, 41, 53, 1);
    font-size: 14px;
    line-height: 25px;
    @include OpenSansRegular;
  }
}
