@font-face {
  font-family:'OpenSansBold';
  src: url('../fonts/OpenSans-Bold.woff2') format('woff2');
  font-weight:700;
  font-style:normal;
}

@font-face {
  font-family:'OpenSansSemiBold';
  src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2');
  font-weight:600;
  font-style:normal;
}

@font-face {
  font-family:'OpenSansMedium';
  src: url('../fonts/OpenSans-Medium.woff2') format('woff2');
  font-weight:500;
  font-style:normal;
}

@font-face {
  font-family:'OpenSansRegular';
  src: url('../fonts/OpenSans-Regular.woff2') format('woff2');
  font-weight:400;
  font-style:normal;
}

@font-face {
  font-family:'OpenSansLight';
  src: url('../fonts/OpenSans-Light.woff2') format('woff2');
  font-weight:300;
  font-style:normal;
}

@mixin OpenSansSemiBold {
  font-family: 'Open Sans', sans-serif;
  font-weight:600;
}

@mixin OpenSansBold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

@mixin OpenSansMedium {
  font-family: 'Open Sans', sans-serif;
  font-weight:500;
}

@mixin OpenSansRegular {
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
}

@mixin OpenSansLight {
  font-family: 'Open Sans', sans-serif;
  font-weight:300;
}

@mixin white-text {
  color:white;
}

@mixin padding-bottom {
  padding:0 0 10px 0;
}
