@import 'src/assets/styles/mixins';
@import 'normalize.css';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.inputsBox {
  border: 1.5px solid rgba(38, 193, 126, 1);
  padding: 20px 15px;
  border-radius: 5px;
  max-width: 100%;
  position: relative;
}

.input {
  max-width: 270px;
  box-sizing: border-box;
  height:40px;
  border:1px solid rgba(102, 112, 129, 1);
  border-radius: 5px;
  margin-left: 20px;
  padding-left: 10px;
  margin-top: 0;
  margin-bottom: 20px;
  position: relative;
}

.label {
  font-size: 14px;
  @include OpenSansRegular;
  line-height: 20px;
}

.addSkillBtn {
  width: 103px;
  height: 40px;
  background-color: rgba(34, 41, 53, 1);
  font-size: 16px;
  color: #fff;
  @include OpenSansRegular;
  border-radius: 5px;
  transition: background-color 0.5s ease-in-out;

  &:disabled {
    background-color: rgb(91, 91, 96);
    cursor: not-allowed;
  }
}

.errorMessage {
  margin-top:-15px;
  margin-bottom:20px;
}

@media (max-width: 600px) {
  .input {
    width: 80%;
  }
}